{%extends "base.html"%}
{%block content%}

        <h1>Welcome to the Dog Adoption Site</h1>
        <br>
        <br>
        <img src='..\static\dogs_home1.jpg' alt="Adopt a Dog today"> <img src='..\static\dogs_home2.jpg'alt="Adopt a Dog today"> <img src='..\static\dogs_home3.jpg' alt="Adopt a Dog today">
        <br>
        <br>
        <div class='quote'><p>“Dogs have given us their absolute all. We are the center of their universe. We are the focus of their love and faith and trust.
                 They serve us in return for scraps. It is without a doubt the best deal man has ever made. ” <br>
                 – Roger A. Caras</p></div>
        <p>Thank you for stopping by and for considering adopting a dog! We have a whole bunch of adorable four legged fuzzy balls waiting to leave marks in your heart with their paws!</p>
    
 
{% endblock %}